nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

#hero > h1 {
  color: red;
  text-align: center;
}

.comments {
  display: flex;
  justify-content: space-evenly;
}

.comments figure {
  margin: 0;
}